<h2 ng-show="diretor._id!=null">Edit</h2>
<h2 ng-hide="diretor._id!=null">Create</h2>

<hr>
<form name="diretorForm" ng-submit="saveData(diretor)" novalidate class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2">Nome do Diretor</label>
    <div class="col-md-10">
      <input type="text" ng-model="diretor.nome" name="nome" ng-required="true" class="form-control"/>
      <p ng-show="diretorForm.nome.$error.required && (diretorForm.$submitted || diretorForm.nome.$dirty)" class="text-danger">Please Enter Name</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2">Idade do Diretor</label>
    <div class="col-md-10">
      <textarea name="idade" ng-model="diretor.idade" ng-required="true" class="form-control"></textarea>
      <p ng-show="diretorForm.idade.$error.required && (diretorForm.$submitted || diretorForm.idade.$dirty)" class="text-danger">Please Enter </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Update" class="btn btn-primary" ng-show="diretor._id!=null"/>
      <input type="submit" value="Save" class="btn btn-primary" ng-hide="diretor._id!=null"/>
      <a ui-sref="verpeople" class="btn btn-warning">Cancel</a>
    </div>
  </div>
</form>